.footer {
    padding-top: 50px;
    padding-bottom: 15px;
}

.footer-logo i {
    background: #c89116;
    color: #000d6b;
    font-weight: 400;
}

.footer-logo span {
    color: #000d6b;
    font-weight: 500;
    font-size: 19px;
}

.footer-logo-content {
    color: #000d6b;
    margin-top: 15px;
    line-height: 30px;
}

.quick-link {
    border: none !important;
    background: transparent !important;
}

.quick-link a {
    color: #000d6b;
    text-decoration: none;
    font-weight: 300;
    transition: .3s;
}

.quick-link a:hover {
    color: #c89116;
}

.office-info {
    color: #000d6b;
}

.footer-left {

    align-items: center;
    column-gap: 1rem;
    color: #000d6b;
}

.footer-help {

    align-items: center;
    column-gap: .4rem;
}

.footer-help i {
    background: #c89116;
    color: #ffffff;
    padding: 2px 4px;
    border-radius: 50px;
    font-size: 0.7rem;
}
.footer-btn {
    background: #c89116 !important;
    padding: 10px 20px;
    border: none;
    outline: none;
    border-radius: 5px;
}

.footer-btn a {
    display: flex;
    align-items: center;
    column-gap: 0.4rem;
    text-decoration: none;
    color: #fff;

    font-size: 0.9rem;
}

.footer-btn a:hover {
    color: #fff;
}


.footer-bottom{
    border-top: 1px solid #000d6b;
}
