.header-top {
    padding: 10px 0px;
    background: #000d6b;
    color: #fff;

}

.logo {
    display: flex;
    align-items: center;
    column-gap: 1rem;
}

.logo span {
    font-size: .9rem;
    color: #fff;
}

.logo h1 a {
    text-decoration: none;
}

.logo i {
    background: #fff;
    color: #000d6b;
    padding: 2px 4px;
    border-radius: 50px;
    font-size: .9rem;
}

/*
.header-top-left{
    display: flex;
    align-items: center;
    column-gap: 1rem;
}

.header-top-left span{
    font-size: .9rem;
}

.header-top-help{
    display: flex;
    align-items: center;
    column-gap: 0.4rem;
}
.header-top-help i{
    background: #fff;
    color: #000d6b;
    padding: 2px 4px;
    border-radius: 50px;
    font-size: 0.7rem;
} */

.header-top-right a {
    text-decoration: none;
    color: #fff;
    font-size: .9rem;
}

.header-top-right a:hover {
    color: #fff;
}



/* ============= Navegação style =========== */

.main-navbar {
    padding: 15px 0px;
    background: #c89116;
}

.mobile-menu i {
    color: #fff;
    font-size: 1.3rem;
    cursor: pointer;
}

.mobile-menu {
    display: none;
}

.menu {
    display: flex;
    align-items: center;
    column-gap: 2.7rem;
}

.nav-item {
    color: #fff;
    text-decoration: none;
    transition: .3s;
}

.nav-item:hover {
    color: #000d6b;
}

.search-box {
    border: 1px solid #7c8a972f;
    padding: 0px 12px;
    display: flex;
    align-items: center;
    border-radius: 50px;
    background: #020a4de9;
}

.search-box input {
    background: transparent;
    border: none;
    outline: none;
    color: #fff;
}

.search-box input::placeholder {
    font-size: 0.8rem;
}

.search-box span i {
    color: rgba(255, 255, 255, 0.555);
    cursor: pointer;
}

.nav-active {
    color: #000d6b;
}